{{define "content"}}
  <main
    class="min-h-header mx-auto flex max-w-6xl flex-col items-center justify-center p-4"
  >
    <section class="mx-auto max-w-2xl space-y-2">
      <h1 class="text-center text-5xl font-bold">
        {{.StatusCode}} -
        {{.StatusText}}
      </h1>
      <p class="text-center text-stone-700">
        {{.Message}}
      </p>
    </section>
  </main>
{{end}}
