{{define "content"}}
<main class="p-4 max-w-6xl mx-auto min-h-header flex flex-col items-center justify-center">
    <section class="max-w-2xl mx-auto space-y-2">
        <h1 class="text-center text-5xl font-bold">
            {{.StatusCode}} - {{.StatusText}}
        </h1>
        <p class="text-center text-stone-700">
            {{.Message}}
        </p>
    </section>
</main>
{{end}}
