{{define "header"}}
  <header class="mx-auto flex h-20 max-w-6xl items-center justify-between p-4">
    <div class="flex items-center gap-4">
      <a class="text-xl font-bold" href="/">ffss.dev</a>
    </div>

    <div class="flex items-center gap-4">
      {{template "search-toggle" .}}
      <a class="text-sm" href="/articles">Articles</a>
    </div>
  </header>
{{end}}
