{{define "header"}}
<header class="p-4 flex items-center justify-between">
    <div>
        <a class="text-xl font-bold" href="/">ffss.dev</a>
    </div>

    <div class="text-sm font-semibold">
        <a href="/articles">Articles</a>
    </div>
</header>
{{end}}