<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='{{block "description" .}}Some golang ideas I have.{{end}}'>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer data-domain="ffss.dev" src="https://analytics.ffss.dev/js/script.js"></script>
    <script type="module" src="/static/js/app.js"></script>
    <title>{{with .HTMLTitle}}{{.}} - {{end}}ffss.dev</title>
    {{block "head" .}}{{end}}
</head>
<body>
    {{template "header" .}}
    {{template "content" .}}
    {{block "post-content" .}}{{end}}
    {{template "search-modal" .}}
    
    {{if .Dev}}
      <script>
        const es = new EventSource("/watch");
        let id;
        es.addEventListener("mod", () => {
          if (id) {
            clearTimeout(id);
          }
          id = setTimeout(() => {
            location.reload();
          }, 500)
        });
      </script>
    {{end}}
</body>
</html>