{{define "articles-content"}}
<section class="space-y-4">
    <h1 class="text-4xl font-bold">Articles</h1>

    <ul class="max-w-xl space-y-4">
        {{range .Articles}}
        <li>
            <a class="text-lg space-y-2" href="/articles/{{.Slug}}">
                <div class="space-y-1">
                    <p class="font-semibold">{{.Title}}</p>
                    <p class="text-sm">{{.Date}}</p>
                    <div class="flex gap-1">
                        {{range .Tags}}
                        <span class="text-xs">#{{.}}</span>
                        {{end}}
                    </div>
                </div>
                <p class="text-sm text-stone-700">
                    {{.Subtitle}}
                </p>
            </a>
        </li>
        {{end}}
    </ul>
</section>
{{end}}