@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .article {
    @apply prose lg:prose-lg prose-headings:font-heading prose-code:text-sm prose-pre:shadow-sm md:prose-pre:whitespace-pre-wrap md:prose-pre:break-all;
  }

  .sort {
    @apply text-sm px-2 py-1 bg-stone-50 text-stone-800 rounded-md font-medium;
  }

  .sort[data-current] {
    @apply bg-stone-800 text-stone-50;
  }
}

@layer base {
  body {
    @apply text-stone-900 bg-stone-50;
  }

  a,
  button,
  input,
  textarea,
  [tabindex] {
    @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-300;
  }
}

@layer base {
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300 800;
    src: url("/static/fonts/OpenSans-VariableFont_wdth,wght.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300 800;
    src: url("/static/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100 900;
    src: url("/static/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 100 900;
    src: url("/static/fonts/Raleway-Italic-VariableFont_wght.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 100 800;
    src: url("/static/fonts/JetBrainsMono-VariableFont_wght.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "JetBrainsMono";
    font-style: italic;
    font-weight: 100 800;
    src: url("/static/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
      format("truetype");
  }
}
